body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;

}

/* idea box styles */
.ideaBox{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: #1F1F3C;
    width: 20%;
    height: 100%;
    
}

.logo {
    color:#EAEAF4;
    text-align: center;
    font-size: 2.7rem;
    width: 95%;
    height: fit-content;
    margin: .5rem auto;
    font-weight: bolder;
}

.show-starred-button {
    background:#A8AAD2;
    width: 95%;
    border: none;
    height: 3rem;
    cursor:pointer;
}

.save-idea-button {
    cursor: pointer;
}

/* main form and displayed content styles */
.contentBox{
    width: 80%;
    height: 100%;
}

/*Form, inputs and button styles*/
form{
    height: 50%;
    width: 100%;
    background:  #A8AAD2;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form label {
    width: 65%;
    height: 25%;
    
}

.title-input {
    width: 100%;
    border: 3px solid #1F1F3C;
    height: 60%;
}

.body-input {
    border: 3px solid #1F1F3C;
    height: 100%;
    width: 100%;
}

form button {
    background-color: #cccccc;
    border: none;
    width: 65%;
    height: 20%;
    color:#EAEAF4;
    font-size:x-large;
    font-weight:bold;
}

.save-idea-button{
    background-color: #1F1F3C;
    cursor: pointer;
}

.save-idea-button:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}


form button:hover {
    color: #A8AAD2;
}

/* display parent box and display cards styles */

.idea-display {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 50%;
    width: 100%;
    background:  #EAEAF4;

}

.idea-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90%;
    width: 25%;
    border: 2px solid #1F1F3C;
    background:#FFFFFF;
    margin-left: 1rem;
}

.card-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 15%;
    width: 100%;
    background-color: #1F1F3C;
}

.hidden {
    display: none;
}

.hidden {
    display: none;
}

